<a href="https://colab.research.google.com/github/LCaravaggio/AnalisisCuantitativoAvanzado/blob/main/Ejercicio3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ejercicio 3
## Cargar la base
Para este segundo ejercicio se usa una base de precios de vuelos: https://www.kaggle.com/datasets/shubhambathwal/flight-price-prediction

In [2]:
import pandas as pd
import numpy as np
     

import json
from google.colab import drive

!mkdir ~/.kaggle
!touch ~/.kaggle/kaggle.json

drive.mount('/content/drive', force_remount=True)
with open("/content/drive/My Drive/kaggle.json", 'r') as f:
    api_token= json.load(f)

with open('/root/.kaggle/kaggle.json', 'w') as file:
    json.dump(api_token, file)

!chmod 600 ~/.kaggle/kaggle.json

!kaggle datasets download -d shubhambathwal/flight-price-prediction

mkdir: cannot create directory ‘/root/.kaggle’: File exists
Mounted at /content/drive
Downloading flight-price-prediction.zip to /content
 96% 4.00M/4.16M [00:00<00:00, 5.81MB/s]
100% 4.16M/4.16M [00:01<00:00, 4.36MB/s]

In [3]:
# Extraigo todos los archivos que están en el .zip que acabamos de "bajar". 

import zipfile
import os

os.listdir()

for file in os.listdir():
    if file.endswith('.zip'):
      zip_ref = zipfile.ZipFile(file, 'r')
      zip_ref.extractall()
      zip_ref.close()

In [4]:
# Vamos a trabajar con el Clean Data Set
df = pd.read_csv('/content/Clean_Dataset.csv')

# Preguntas

Pregunta 1: ¿Qué R2 se obtiene si se calcula una regresión lineal entre la duración del vuelo y su precio? 

Ayuda: 

Con statsmodels puede calcularse así: 
```
import statsmodels.api as sm
mod = sm.OLS(df['price'], df['duration'])
res = mod.fit()
print(res.summary())
```

Con sklearn puede calcularse así: 
```
from sklearn.linear_model import LinearRegression
X=['duration']
y=df['price']
reg = LinearRegression().fit(df[X],y)
reg.score(df[X], y)
```

Pregunta 2: realice un split de entrenamiento y testeo con el siguiente código: 

```
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df[X],y, test_size=0.2, random_state=1)
```

Calcule la regresión utilizando solamente los datos de entrenamiento: 

```
reg = LinearRegression().fit(X_train,y_train)
```

¿Por qué difieren los R2 obtenidos para entrenamiento y para testeo? 


```
print(reg.score(X_train,y_train))
print(reg.score(X_test,y_test))
```

Pregunta 3: ¿Si agregamos más avariables predictivas, qué va a pasar con el R2? Muéstrelo.

Pregunta 4: Algunas variables son categóricas y por tanto no se pueden incluir como predictoras. ¿Qué se podría hacer para incluirlas? 

Ayuda: 
Una idea podría ser convertir esas categorías en valores númericos. Pero piense que aveces las categorias respetan cierta "distancia", mientras que otras veces no. Esto puede hacerse con pandas así: 


```
df['departure_time_cat']=df['departure_time'].astype('category').cat.codes
```

Otra idea sería generar variables dummys para cada una de las categorías. ¿Qué ventajas y desventajas tiene esto? 



```
df=pd.get_dummies(df, columns=['departure_time'], drop_first=True)
```

Pregunta 5:

In [46]:
df

,Unnamed: 0,airline,flight,source_city,stops,arrival_time,destination_city,class,duration,days_left,price,departure_time_cat,departure_time_Early_Morning,departure_time_Evening,departure_time_Late_Night,departure_time_Morning,departure_time_Night
0,0,SpiceJet,SG-8709,Delhi,zero,Night,Mumbai,Economy,2.17,1,5953,2,0,1,0,0,0
1,1,SpiceJet,SG-8157,Delhi,zero,Morning,Mumbai,Economy,2.33,1,5953,1,1,0,0,0,0
2,2,AirAsia,I5-764,Delhi,zero,Early_Morning,Mumbai,Economy,2.17,1,5956,1,1,0,0,0,0
3,3,Vistara,UK-995,Delhi,zero,Afternoon,Mumbai,Economy,2.25,1,5955,4,0,0,0,1,0
4,4,Vistara,UK-963,Delhi,zero,Morning,Mumbai,Economy,2.33,1,5955,4,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,one,Evening,Hyderabad,Business,10.08,49,69265,4,0,0,0,1,0
300149,300149,Vistara,UK-826,Chennai,one,Night,Hyderabad,Business,10.42,49,77105,0,0,0,0,0,0
300150,300150,Vistara,UK-832,Chennai,one,Night,Hyderabad,Business,13.83,49,79099,1,1,0,0,0,0
300151,300151,Vistara,UK-828,Chennai,one,Evening,Hyderabad,Business,10.00,49,81585,1,1,0,0,0,0
300152,300152,Vistara,UK-822,Chennai,one,Evening,Hyderabad,Business,10.08,49,81585,4,0,0,0,1,0

Pregunta 5: Observe la siguiente situación


```
X=['duration', 'days_left', 'departure_time_cat',	'departure_time_Early_Morning',	'departure_time_Evening',	'departure_time_Late_Night'	,'departure_time_Morning',	'departure_time_Night']
X_train, X_test, y_train, y_test = train_test_split(df[X],y, test_size=0.2, random_state=1)
reg = LinearRegression().fit(X_train,y_train)
print(reg.score(X_test,y_test))

df['source_city_cat']=df['source_city'].astype('category').cat.codes
X=['source_city_cat','duration', 'days_left', 'departure_time_cat',	'departure_time_Early_Morning',	'departure_time_Evening',	'departure_time_Late_Night'	,'departure_time_Morning',	'departure_time_Night']
X_train, X_test, y_train, y_test = train_test_split(df[X],y, test_size=0.2, random_state=1)
reg = LinearRegression().fit(X_train,y_train)
print(reg.score(X_test,y_test))
```

Calculamos el R2 de testeo de una regresión con las variables que generamos. Luego, agregamos una variable más con un código que responde a la ciudad de origen. Pero al hacer esto último, el R2 no mejora. ¿Por qué?